.notification-container {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 20px 15px 20px 25px;
  width: 80%;
}
@media screen and (max-width: 576px) {
  .notification-container {
    max-width: 250px;
  }
}

.text-close-container {
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-top: 0px;
  width: 100%;
}
.text-container {
  width: 80%;
}
.inform {
  font-size: 25px;
}

@media screen and (max-width: 576px) {
  .inform {
    width: 28px;
  }
}
.close-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
}
.icon {
  align-self: flex-start;
}

.alert-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 23px;
  margin-top: 0px;
}
.description {
  font-family: 'Roboto';
  color: #475569;
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 500;
}
.class-1 {
  color: #2dca73;
}
.class-2 {
  color: #ff0b37;
}
.class-3 {
  color: #ffb800;
}
.class-4 {
  color: #0f81e0;
}
